
$theme-color-pink = #f7567c
$theme-color-dark-pink = #911541
$theme-color-dark-teal = #03b5aa
$theme-color-light-teal = #55d6be
$theme-color-light-green = #7be0ad
$theme-color-dark-white = #e2efde
$theme-color-white = #eef0f2
$theme-color-blue = #0017cf
$theme-color-light-blue = #1a33ff
$theme-color-dark-blue = #001433
$theme-color-black = #0a0908


$select-color-bg = #67294D
// $theme-color-pink
$select-color-text = $theme-color-white

$golden-num = 1.618034
$golden-num-sqrt = 1.27202

$theme-margin-top = 80px
$theme-margin-left-right = 80px
$content-margin-top = 100px

$theme-margin-top-mobile = 60px
$theme-margin-left-right-mobile = 60px
$content-margin-top-mobile = 80px

$content-max-width = 1550px

// $the-serif = 'Crimson Text'
// $the-serif = 'Lora'
// $the-serif = 'Cardo'
$the-serif = 'Quattrocento'
